<div class="oisin">
    <img src="../../assets/oisin.png" alt="oisin" />
  </div>
  
  <div class="register-btn text-center">
    <a class="btn btn-primary btn-lg register" [routerLink]="['/register']">Register</a>  <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</a>
  </div>
  <br/>
  <hr/>
  <br/>
  <div class="row">
    <div class="col-md-4">
      <h3>Read the Story</h3>
      <p>Read each page of the storybook and learn the colours of the rainbow</p>
    </div>
    <div class="col-md-4">
      <h3>Listen to the Story</h3>
      <p>Listen to Oísín reading the story and helping you with pronunciation of the Irish colours</p>
    </div>
    <div class="col-md-4">
      <h3>Puzzles</h3>
      <p>Have fun and see if you can complete the puzzles at the end of the story</p>
    </div>
  </div>
  